PORT=3000

DATABASE_URL=mysql://usuario:password@localhost:3306/database 

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=usuario
MYSQL_PASSWORD=contra
MYSQL_DATABASE=nombre base de datos
MYSQL_CONNECTION_LIMIT=10
