PORT=3000

DATABASE_URL=mysql://usuario:password@localhost:3306/database 

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=usuario
MYSQL_PASSWORD=contra
MYSQL_DATABASE=nombre base de datos
MYSQL_CONNECTION_LIMIT=10

AUTH_SECRET=secreto_muy_seguro_de_32_caracteres_o_mas_para_el_torneo
AUTH_TOKEN_HOURS=8